*.o
*.lo
*.tgz
config.*
Makefile
Makefile.*
run-tests.php
mkinstalldirs
missing
configure
configure.in
ltmain.sh
build
aclocal.m4
acinclude.m4
*.la
.deps
.libs
install-sh
autom4te.cache
libtool
modules
nbproject
vendor
composer.phar
